* {
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etch-container {
    display: flex;
    border: 0.5px solid white;
    height: 500px;
    width: 500px;
}

.column {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.cell {
    flex: auto;
    background-color: gray ;
    border: 0.5px solid black;
}